# DEV
DB_USER='postgres'
DB_PASSWORD='Coldestshoot'
DB_NAME='StageDB'
DB_HOST='localhost'
DB_DIALECT='postgresql'
DB_PORT=5432

# PROD
DATABASE_URL=postgresql://gestion_stage_pqsql_user:vRpt3ZKGfMoxbFVYqYgkAQxUHSTLrPJC@dpg-d44c8ak9c44c73cb9oeg-a.frankfurt-postgres.render.com/gestion_stage_pqsql


PORT=5000

JWT_SECRET="Mon_code_super_secret123!"

GMAIL_USER='fitahianarabeharison86@gmail.com'
GMAIL_PASS='qdfz rnxv habc xkyn'

GOOGLE_CLIENT_ID='83291633641-jrrl9ulauttn0ma60i76pir06k1o3p3g.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET="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"

CLOUD_NAME=dr8cbxlag
CLOUD_API_KEY=943197477435729
CLOUD_API_SECRET=g8SeaZKNQX40g1NfdmXzzOWJqaw


# Ne pas oublier d'ajouter un dossier uploads à la racine