@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

#root{
    background-color: #F2F4F7;
}

.montserrat-hero {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body{
    overflow-x: hidden;
}
.bg-HS{
    background-color: #E9F3FF;
}

.lg-light{
    color : #113133 
}
.textC{
    color : #4F5D75
}


/*animation home/nav*/

.nav-link {
    position: relative;
    transition: color 0.5s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #D84444;
    transition: width 0.5s ;
}

.nav-link:hover {
    color: #D84444; /* text-red-500 */
}

.nav-link:hover::after {
    width: 70%;
}

/*Animation d'entrée*/

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.leftEntry{
    animation: text-appear-left;
    animation-timeline: view();
    animation-range: entry 0 cover 30vh;
}
.rightEntry{
    animation: text-appear-right both;
    animation-timeline: view();
    animation-range: entry 0 cover 30vh;
}
.upEntry{
    animation: text-appear-bottom both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}
.scale{
    animation: text-appear-scale both;
    animation-timeline: view();
    animation-range: entry 0 cover 30vh;
}

@keyframes text-appear-left{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes text-appear-right{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes text-appear-bottom{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes text-appear-scale{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.scaling{
    opacity: 0;
    scale: 0.5;
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);

}
.scaling.in-view{
    opacity: 1;
    scale: 1;
}


/*carrousel animation*/

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-208px * 9));
    }
}

.animate-scroll {
animation: scroll 30s linear infinite;
}

.group:hover .animate-scroll {
animation-play-state: paused;
}